{
  "singleQuote": true,
  "jsxSingleQuote": true,
  "arrowParens": "always",
  "tabWidth": 2,
  "useTabs": false,
  "max-len": ["warning", { "code": 1500, "ignoreUrls": true }],
  "endOfLine": "lf"
}
